.chat
  .header
    .left-header
      .left-header__title
        = @group.name
      %ul.left-header__members
        Members：
        - @group.users.each do |user|
          = user.name
    %a{:href => "/groups/#{@group.id}/edit"}
      .right-header Edit
      -# .right-header__button
        -# .right-header__button Edit
        -# = link_to edit_group_path(@group), class: 'editor' do 
        -#   Edit
  .messages
    = render @messages
    
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'